body{background-color: #66d9ff;}

table{margin:auto;}

td {
	border: 1px solid black;
	height:60px;
	width: 60px;
}

td:hover{background-color:#aaaaaa;}

img{
	margin-left: auto;
	margin-right: auto;
}

#ground,#sky{display: inline-block;}
.container{	text-align: center;}

#ijMod2is0{background-color:#195919;}

#ijMod2is1{background-color:#339933;}

.hMovement{background-color:#ffff00;}
