body{background-color: #66d9ff;
	text-align: center;}

table{margin:auto;}

td {
	border: 1px solid black;
	height:60px;
	width: 60px;
}

td:hover{background-color:#aaaaaa;}

img{
	margin-left: auto;
	margin-right: auto;
}

#ground,#sky{display: inline-block;}
.container{	text-align: center;}

#ijMod2is0{background-color:#195919;}

#ijMod2is1{background-color:#339933;}

.hMovement{background-color:#ffff00;}

.Turn{
	height:65px;
	width: 65px;
	background-color: #FFFFFF;
	text-align: center;
}

#Title{
	margin: auto;
	text-align:center;
	font-size: 48px;
	font-family: 'Work Sans', serif;
	margin-left:85px;
	margin-right: 85px;
}
.TitleLine{
	display: inline-block;
	margin: 0 auto;
	border-radius: 25px;
}